<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/public/vendor/bootstrap/assets/img/favicon.png">

    <title>Stock Brain</title>

	<script type="text/javascript">
	    $(function() {
	    var conn;
	    //conn.send(msg.val());
	    if (window["WebSocket"]) {
	        conn = new WebSocket({{.WsUrl}});
	        conn.onclose = function(evt) {
	            console.log($("Connection closed."))
	        }
	        conn.onmessage = function(evt) {
	        	console.log(evt.data);
	        }
	    } else {
	        console.log($("Your browser does not support WebSockets."))
	    }
	    });
	</script>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/vendor/bootstrap/assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Stock Brain</b></a>
        </div>
        <!--<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Already a member?</a></li>
          </ul>
        </div>-->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Select A Stock To Find A Recomendation.</h1>
					<ul class="list-group">
						<li class="list-group-item"><a href="/stock/YHOO">YHOO (Yahoo)</a>	</li>
						<li class="list-group-item"><a href="/stock/FB">FB (Facebook)</a>	</li>
						<li class="list-group-item"><a href="/stock/GOOG">GOOG (Google)</a></li>
						<li class="list-group-item"><a href="/stock/AAPL">AAPL (Apple)</a>	</li>
					</ul>			
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="/public/vendor/bootstrap/assets/img/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3" style="padding-bottom:50px;">
				<h1>Best Ever!</h1>
				<h3>We do the research and you make the</h3>
				<h3>cash!</h3>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Stock Brain is for Everyone.</h1>
			</div>
		</div><!-- /row -->
	</div><!--/container -->

	<div class="container">
		<!--<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div>-->
		<hr>
		<p class="centered">Created by Trevor Baron 2013</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/public/vendor/bootstrap/assets/js/bootstrap.min.js"></script>
  </body>
</html>
